* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

/* Home */
header {
    width: 100%;
    height: 300px;
    box-shadow: 10px 10px grey;
}

header img {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 900px;
    display: grid;
    grid-template-columns: auto auto;  
}

.left-aside {
    width: 20vw;
    padding: 20px 20px 20px 0;
    border: 1px solid grey;
}

.underline {
    padding: 5px;
}

.underline:before {
    content: "";
    position: absolute;
    width: 19%;
    height: 3px;
    border-bottom: 3px solid grey;
}

form {
    margin-top: 20px;
}

.form-group {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.button-group {
    margin: 10px 0 30px 30px;
}

button {
    width: 50px;
}

.left-aside__menu ul li {
    list-style: none;
}

.left-aside__menu ul li a {
    color: black;
    text-decoration: none;
}

.left-aside__menu ul li a:hover {
    cursor: pointer;
}

.right-aside {
    padding: 30px;
    border: 1px solid grey;
}

.right-aside p {
    line-height: 1.5rem;
}
.right-aside h1 {
    color: blue;
    margin-bottom: 20px;
}

span {
    color: red;
}

.image-group {
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-column-gap: 1px;
    margin-bottom: 40px;
}

.image-group img {
    box-shadow: 2px 4px 4px 5px grey;
}

.left-footer {
    height: 100px;
    border: 3px solid grey;
}

.icon-group {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.icon-group i {
    margin: 0 10px;
}

.right-footer {
    height: 100px;
    border: 3px solid grey;
}

.right-footer p { 
    margin: 40px;
}

/* End of home */