.owl-stage {
  width: 1905px !important;
}

.aside_reviews .wrap_reviewed .owl_reviewed .item .image_client img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.tab-review-c .content {
  margin-top: 15px;
  width: calc(100% - 180px);
  padding: 0 40px;
  margin: 0;
}
.tab-review-c .content .desc {
  padding-right: 350px;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  margin: 0;
}

.test .tabs .hidden-button-view-tab {
  padding: 8px 16px;
  border: none;
  line-height: 8px;
  text-align: right;
  text-align: end;
}
